<template>
<div>
    
    <div v-bind:class="chst=='true'?'back1':'back2'">
        <div v-for="st in students" v-bind:key="st._id">
            <template v-if="st._id==editId">
                <table>
                <td><img width="50" height="50" :src="st.photo"></td>
                <td><input v-model="st.name" value="st.name"></td>
                <td>{{st.group}}</td>
                <td> {{st.group}} </td>
                <td><input type="button" v-on:click="upt(editId)" value="Update"></td>
                </table>
            </template> 
            <template v-else>
                <table>
                <td><img width="50" height="50" :src="st.photo"></td>
                <td> <router-link :to="'/student-info/'+st._id"> {{st.name}} </router-link></td>
                <td> {{st.group}} </td>
                <td v-if="st.isDonePr==true" > <input type="checkbox" checked="student.isDonePr"></td> 
                <td v-else><input  type="checkbox" ></td> 
                <td><a id="not" href="#" v-on:click="del(st._id)" v-show="st.group==getCurrentUser.group">Удалить</a><font>../.. </font><a href="#" v-on:click.prevent="rpl(st._id)">Обновить</a></td>
                </table>
            </template>
        
                
        </div>
    </div>
        
        <div>
          <form>
               П І Б <input type="text" v-model.trim="student.name"> 
               Група <select v-model.trim="student.group">
                   <option value="RPZ-17 2/9">RPZ-17 2/9</option>
                   <option value="TOM-17 2/9">TOM-17 2/9</option>
                   <option value="RPZ-17 1/9">RPZ-17 1/9</option>
                    <option value="KWET-17 2/9">KWET-17 2/9</option>
                   <option value="DZ-17 2/9">DZ-17 2/9</option>
               </select>
               Екзамен <input type="checkbox" v-model="student.isDonePr">
               <input type="submit" id="post" v-on:click="add()">
           </form>
           <p>Количество студентов {{studentsCount}}</p>

            <p><input type="radio" value='false' v-model="chst" @click="send()">Тема 1</p>

            <p><input type="radio" value='true' v-model="chst" @click="send()">Тема 2</p>
       </div>
       <!--
       <br>

       <div >
        <h3>Конвертер валют</h3>
        <p>Enter Amount</p>
        <input type="text" v-model="conv">
        <br>
        Convert From
        
        <select type="number" v-model.trim="itoam">

            <option v-for="item in money" v-bind:key="item.buy" :value="item.buy" ><div v-if="item.ccy=='BTC'">-----</div> <div v-else> {{item.ccy}} </div> </option>

        </select>
        Convert To UAH
    <br>
    <br>

    <hr>

        {{conv*itoam}}

    <hr>
    
        </div>

        <h1>Poshta</h1>
         <select>
        <option v-for="el in otd" v-bind:key="el.Description"> {{el.Description}} </option>
    </select>
        <p>Виберіть місто</p>
    <select v-model="city">
        <option v-for="el in cities" v-bind:key="el.city"> {{el.Description}} </option>
    </select>


   <button v-bind:click="vid()">Вітділи</button>
   <br>

  -->


</div>
</template>

<script>
import Vue from 'vue'



export default {
     	data() {
          return {
        students:[],
        money:[],
        cities:[],
        ci:{},
        city:'',
        otd:[],
        cRef:'',
        newmark:'',
        newgroup:'',
        newisDonePr:'',
        newname:'',
        editId:'',
        itoam:'',
        chst:'',
        conv:'',
        student: {"name": "", isDonePr: false, group: ""},
        poisk:'Поиск',
        piece:''
          }
        },
        mounted: async function(){
           // Vue.axios.get("http://46.101.212.195:3000/students").then((response)=>{
            //    console.log(response.data)
             //   this.students=response.data;
              //  this.$store.commit('setCount', this.students.length);
            //})
                let response=await Vue.axios.get("http://46.101.212.195:3000/students");
                console.log(response.data)
                this.students=response.data;
                this.$store.commit('setCount', this.students.length);
                this.chst=this.$store.getters.getback;
                if(this.chst=='true')
                {
                    this.chst=true;
                }
                else if(this.chst=='false'){
                    this.chst=false;
                }
            
                
            },
            /*
        mounted: function(){
            Vue.axios.get("https://api.privatbank.ua/p24api/pubinfo?exchange&json&coursid=11").then((response)=>{
                console.log(response.data)
                this.money=response.data;
            })
            
            Vue.axios.post("https://api.novaposhta.ua/v2.0/json/",{
                "modelName":"AddressGeneral",
                "calledMethod":"getCities",
                "methodProperties":{
                "Warehouse":"1",
                },
                    "apiKey":"9a557481f95094531372a9d1b55222c8"
                }).then((response) => {
                console.log(response.data.data);
                 this.cities = response.data.data;
                 })      
        },*/

        computed: {
            studentsCount() { 
                return this.$store.getters.getCount
                },
            getCurrentUser(){
                    return this.$store.getters.getUser
                }

            },

        filters: { 
            roundNum:  function(value) { 
                return Math.round(value * 100) / 100 
            }, 
        },
        methods:{
            del(studId) {
               Vue.axios.delete("http://46.101.212.195:3000/students/"+studId, {}) 
                 .then((response)=>{ 
                this.students=this.students.filter(element=>{ 
                return element._id!==studId;});
            }) 
            },
            send:function(){
                 this.$store.commit('back',this.chst);
            },
            add() {
                Vue.axios.post("http://46.101.212.195:3000/students", this.student)
                .then((response)=>{
                    console.log(response.data)
                    this.students.push(this.student);
                });
            },

            convert:function (itoam) {
                alert(itoam);
            },

            upt:function(id){
                let foundStudent=this.students.find((element)=>{
                    return element._id==id;
                });

                Vue.axios.put("http://46.101.212.195:3000/students/"+id,{
                    name:foundStudent.name,
                    group:foundStudent.group,
                    isDonePr:false
                })
                .then((response)=>{
                    console.log(response.data)
                })
                this.editId=0;
            },
            rpl:function(id){
                this.editId=id;
            },
            
            /*vid:function(){
                for (var i = 0; i < this.cities.length; i++){
                    if (this.cities[i].Description == this.city){
                this.ci = this.cities[i];
                this.cRef = this.ci.Ref;
                }
                }
                 Vue.axios.post("https://api.novaposhta.ua/v2.0/json/",{
                     "modelName": "AddressGeneral",
                    "calledMethod": "getWarehouses",
                    "methodProperties": {
                   "CityRef":this.cRef
                 },
                    "apiKey": "9a557481f95094531372a9d1b55222c8"
                }).then((response) =>{
                    console.log(response.data.data);
                    this.otd = response.data.data;
                })
            }*/
        }
       
    }
    
</script>

<style>
    
</style>
